<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
			<a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
			<a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
			<a href="/trade/list">Trade</a>&nbsp;|&nbsp;
			<a href="/ruleName/list">Rule</a>
		</div>
		<div class="col-6 text-right">
			<a href="/">Home</a>&nbsp;|&nbsp;<a href="/login">Login</a>
		</div>
	</div>
	<div class="row"><h2>User List</h2></div>
	<div class="row">
		<a th:href="@{/notes/add/{id}(id=${patientId})}">Add New note</a>

		<div class="col-6 text-right">
			<td style="width: 10%" th:text="${scoring}"></td>
		</div>
		<table class="table table-bordered">
			<thead>
			<tr>
				<th>date</th>
				<th>notes</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="note : ${notes}">
				<td style="width: 10%" th:text="${note.noteDate}"></td>
				<td style="width: 10%" th:text="${note.note}"></td>

			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>