<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>
<div class="container">

	<div class="row"><h2>Patients List</h2></div>
	<div class="row">
		<a href="/patient/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
			<tr>
				<th>Id</th>
				<th>first name</th>
				<th>last name</th>
				<th>birthday</th>
				<th>gender</th>
				<th>address</th>
				<th>phone</th>
				<th>diabetes scoring</th>
				<th>notes</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="patient : ${patients}">
				<td style="width: 5%" th:text="${patient.id}"></td>
				<td style="width: 15%"th:text="${patient.firstName}"></td>
				<td style="width: 15%"th:text="${patient.lastName}"></td>
				<td style="width: 10%" th:text="${patient.birthday}"></td>
				<td th:text="${patient.gender}"></td>
				<td th:text="${patient.address}"></td>
				<td th:text="${patient.phone}"></td>
				<td style="width: 15%" class="text-center">
					<a style="width: 15%"th:href="@{/asses/{id}(id=${patient.id})}">generate</a>
				<td style="width: 15%"class="text-center">
					<a th:href="@{/notes/list/{id}(id=${patient.id})}">manage</a>

				</td>
				<td style="width: 15%" class="text-center">
					<a th:href="@{/patient/update/{id}(id=${patient.id})}">Edit</a>&nbsp;|&nbsp;
					<a th:href="@{/patient/delete/{id}(id=${patient.id})}">Delete</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>