<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>
<div class="container">
	<div class="row">

			<div class="col-6 text-right">
				<a href="/patient/list">Home</a>
			</div>

		</div>
	<div class="row"><h2>Diabetes scoring </h2></div>
	<div class="row">

		<div class="col-6 text-right">
			<td style="width: 10%" th:text="${scoring}"></td>
		</div>
		</div>
		<table class="table table-bordered">
			<thead>
			<tr>
				<th>Id</th>
				<th>first name</th>
				<th>last name</th>
				<th>birthday</th>
				<th>gender</th>
				<th>address</th>
				<th>phone</th>

			</tr>
			</thead>
			<tbody>
			<tr >
				<td style="width: 10%" th:text="${patient.id}"></td>
				<td th:text="${patient.firstName}"></td>
				<td th:text="${patient.lastName}"></td>
				<td style="width: 25%" th:text="${patient.birthday}"></td>
				<td th:text="${patient.gender}"></td>
				<td th:text="${patient.address}"></td>
				<td th:text="${patient.phone}"></td>


			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>